body {
	margin: 0;
}

#container {
	text-align: center;
}

#game_container { 
	border: solid thin gray;
	padding: 2vw;
	margin: 2vw;
	background-color: #EEEEEE;
	position: relative;
}

.game_canvas {
	border: dashed thin black;

}

#game {
	position: relative;
	width: 960px;
	height: 360px;
	margin: 0 auto;
	text-align: center;
}

#background_game {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

#foreground_game {
	position: absolute;
	left: 0;
	top: 0;
}